/*clearing default browser settings*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*styling elements within the body tag*/
body {
    background-color: black;
}

section{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-size: 350px;
    text-align: center;
}

#float-left{
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 1500px;
    float: left;
    margin-bottom: 20px;
}

#mechanics{
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 2000px;
}